[submodule "donut"]
	path = donut
	url = https://github.com/yomamacantsnipe/Donut.git
[submodule "media/glTF-Sample-Assets"]
	path = media/glTF-Sample-Assets
	url = https://github.com/KhronosGroup/glTF-Sample-Assets.git
